*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #2c3e50;
}
.row > *{
    
}
i{
    color: white;
}
.bg-green{
    background-color: #1abc9c;
 
}
h1{
    text-align: center;
}
.bg-border{
    background-color: aqua;
    border: 1px solid white;

}
.avatar{
    max-width: 200px;

}
.line{
    height: 5px;
}
img{
    width: 100%;
}
.border-bottom{
    border-bottom:1px solid black;
}

.info-footer{
    background-color: blue;
}
.copyright{
    background-color: black;
    color: white;
}